.comment_block{
	padding-top: 5px;
	display: inline-block;
	width: 100%
}

.tab_button{
	cursor: pointer;
	width: 80px;
	padding: 5px;
	border: 0px;
	border-radius: 5px 5px 5px 5px;
	background-color: transparent;
	font-size: 19px;
}

#color_bar{
	height: 300px;
	background-color:#e2e2e2; 
}

#domain_comments_tab_button{
	color: #a5a5a5;

}

#url_comments_tab_button{
	color: black;
}

.delete_button{
	background-color: #ffffff00;
	border: 0px;
	float: right;
	font-weight: bold;
}

.delete_button:hover{
	color: red;
	cursor: pointer;
}

#container {
	display: flex;
	margin: 10px;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
	margin: 0px;
	background-color: white;
	text-align: center;
}

#comment_text {
	box-shadow: 0px 1px 3px 0px gray;
    border: 1px solid white;
    width: 275px;
    height: 20px;
	font-family: 'Roboto', sans-serif;
	font-size: 15px;
}

.comment_text_block{
	float: left;
	margin-left: 20px;
	width: 85%;
}

.comment_delete_block{
	float: left;
}

#comment_text:hover{
	box-shadow: 0px 2px 5px 0px gray;
}

.content{
	margin: 8px
}

.topbar{
	background-color: #171717;
    padding-left: 10px;
    border: 1px solid transparent;
}

.header{
	color: white;
	margin: 10px;
	overflow-x:auto;
	white-space: nowrap;

}

#domain_comments_tab{
	display: none;
}

h3::-webkit-scrollbar {
    height: 5px;
}

h3::-webkit-scrollbar-track {
    box-shadow: inset 0 0 0px transparent; 
    border-radius: 2.5px;
}
 
/* Handle */
h3::-webkit-scrollbar-thumb {
    background: #d2d2d2; 
    border-radius: 2.5px;
}

/* Handle on hover */
h3::-webkit-scrollbar-thumb:hover {
    background: gray;
}

.comment_group_title{
	font-weight: bold;
}

.comment_group{
	margin-top: 20px;
}

#page{
width: 800px;
    background-color: white;
    box-shadow: 0px 1px 3px 0px gray;
    text-align: left;
    padding: 20px;
    display: inline-block;
    position: relative;
    top: -200px;}

#icon{
	height: 50px;
	top:20px;
	left:20px;
	position: absolute;
}

.comment_group_h3{
	overflow-x: auto;
	white-space: nowrap; 
	margin:0px;
}

.comment_group_link{
	text-decoration: none;
	color: #126fbf
}

#no_notes_img{
	height: 180px;
    display: block;
    margin: auto;
    margin-top: 100px;
    margin-bottom: 100px;
}