.comment_block{
	padding-top: 5px;
}

.tab_button{
	cursor: pointer;
	width: 60px;
	padding: 5px;
	border: 0px;
	border-radius: 5px 5px 0px 0px;
}

#domain_comments_tab_button{
	background-color: #27788e;
	color: #f1f1f1;

}

#url_comments_tab_button{
	background-color: #39a7c5;
	color: white;
}

.delete_button{
	background-color: #ffffff00;
	border: 0px;
	float: right;
}

.delete_button:hover{
	color: red;
	cursor: pointer;
}

#container {
	display: flex;
	margin: 10px;
}

#comment_button {
	background: #39a7c5;
    border: 0px;
    color: white;
    margin-left: 5px;
    box-shadow: 0px 1px 3px 0px gray;
	cursor: pointer;
	height: 25px;
	width: 25px;
	border-radius: 12.5px;
}

#comment_button:hover {
	box-shadow: 0px 3px 6px 0px gray;
}
body {
	background-color: #f9f9f9;
	font-family: roboto;
	font-size: 15px;
	width: 300px;
	margin: 0px
}

#comment_text {
	box-shadow: 0px 1px 3px 0px gray;
    border: 1px solid white;
    width: 275px;
    height: 20px;
	font-family: roboto;
	font-size: 15px;
}

#comment_text:hover{
	box-shadow: 0px 2px 5px 0px gray;
}

.content{
	margin: 8px
}

.topbar{
	background-color: #39a7c5;
    padding-left: 10px;
    border: 1px solid #39a7c5;
}

.header{
	color: white;
	margin: 10px;
}

#domain_comments_tab{
	display: none;
}